{
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "max-len": ["error", { "code": 120 }],
    "no-extra-boolean-cast": 0,
    "padded-blocks": ["error", { "blocks": "never" }],
    "semi": [2, "never"]
  }
}
